%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  //border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  @include transition(background 0.1s linear);
  @include linear-gradient($red, darken($red, 10%));
  &:hover {
    @include linear-gradient($red, $red);
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}


button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn, .btn-important {
	@extend %button;
	
}
.btn {
	
	
}
.btn-important {
	
}