ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $base-spacing / 2;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $base-spacing / 2;
    padding-left: $base-spacing;
  }
}

dl {
  margin-bottom: $base-spacing / 2;

  dt {
    font-weight: bold;
    margin-top: $base-spacing / 2;
  }

  dd {
    margin: 0;
  }
}


// .site-content-primary {
//     ul {
//       clear:left;
//     list-style-type: none;
//     margin-bottom: $base-spacing / 2;
//     padding-left: $base-spacing;
//     li {
//       position:relative;
//       margin-bottom:$baseline;
//       font-size:em(18);
//       line-height:1.5em;
//     p {
//       font-size:18px;
//     }
//     a {
//       text-decoration:none;
//       font-weight:normal;
//     }
//       &:after {
//         content:'';
//         width:$base-spacing;
//         height:$base-spacing;
//         display:block;
//         position:absolute;
//         top:0;
//         left:-$base-spacing;
//         background-image:url(img/ico-bullet.svg);
//         background-position:center center;
//         background-size:.45em;
//         background-repeat: no-repeat;
        
//       }
//     }
//     }
// }


.bullet-style {
  clear:left;
  list-style-type: none;
  margin-bottom: $base-spacing / 2;
  padding-left: $base-spacing;
  li {
    position:relative;
    margin-bottom:$baseline;
    font-size:em(18);
    line-height:1.5em;
  p {
    font-size:18px;
  }
  a {
    text-decoration:none;
    font-weight:normal;
  }
  &:after {
    content:'';
    width:$base-spacing;
    height:$base-spacing;
    display:block;
    position:absolute;
    top:0;
    left:-$base-spacing;
    background-image:url(img/ico-bullet.svg);
    background-position:center center;
    background-size:.45em;
    background-repeat: no-repeat;

    }
  }
}