
// Neat Breakpoints
@mixin mq($mq) {
  @if $mq == small  { @media (max-width: $medium-screen) { @content; } }
  @if $mq == medium  { @media (min-width: $medium-screen) { @content; } }
  @if $mq == large { @media (min-width: $large-screen) { @content; } }
  @if $mq == xlarge { @media (min-width: $xlarge-screen) { @content; } }
  @if $mq == retina  { @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; } }
}


// Other
@mixin margin-fix {
	> *:first-child {
		margin-top:0;
	}
	> *:last-child {
		margin-bottom:0;
	}
}



//Images
@mixin img-center {
	display:block;
	margin:0  auto;
}


@mixin direction-context($direction: left-to-right) {
  $scope-direction: $layout-direction;

  @if to-lower-case($direction) == "left-to-right" {
    $layout-direction: LTR !global;
  } @else if to-lower-case($direction) == "right-to-left" {
    $layout-direction: RTL !global;
  }

  @content;

  $layout-direction: $scope-direction !global;
}