/*=============== Woocommerce adjustments ===============*/
.cart-link{
	display:block;
	text-align:right;
	margin-bottom:em(20);
	color:#999;
}
/* hiding elements  */
.sku_wrapper, .woocommerce-ordering, .cart-collaterals .cart_totals:nth-child(2){display: none !important;}

.woocommerce .woocommerce-breadcrumb{
	margin-bottom:0px;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	background-color: $dark-blue;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
	background-color: lighten($dark-blue, 7%);
}
.woocommerce ul.products li.product .price, .woocommerce div.product p.price, .woocommerce div.product span.price{
	color:$red; 
}
p.demo_store{
	background-color: $dark-blue; 
} 


/*=============== Site Header ===============*/
.site-header {
	background-color:$white;
	margin-top: em(56);
	.inner-wrap {
		padding-top:0.5em;
		// position: relative;
		padding-bottom:2.5em;
	}
}
.sh-contact{
	margin:auto;
	float:none;
	padding-top:em(10);
	clear:both;
	@include mq(medium) {	
		float:right;
		width:auto;
		padding-top:0;
	}
}
.sh-social-group{
    width:em(134);
    margin:auto;
    display: block;
    @include mq(medium) {	
    	float:left;
		display:inline-block;
		margin-right: em(10);
		padding-top:5px;
    }
}
.sh-social-ico{
	display: inline-block;
	margin-right: 10px;
}
.sh-social-ico:last-child{
	margin-right: 0;
}
.sh-secondary-nav{
	margin-bottom:em(20);
	text-align: center;
	margin:auto;
	float:right;
	@include mq(medium){
			margin-bottom: em(0);
		}
	li{
		float:none;
		padding:0 10px;
		display: inline-block;
		border-right:solid 1px #000;
		font-size:12px;
		line-height:em(26);
		margin-bottom: em(10);
		@include mq(medium){
			line-height:12px;
		}
	}
}
.sh-secondary-nav li:last-child{ 
	margin-right:0px; 
	border-right:0px;
	padding-right:0px;
}
.sh-logo-m{
	display:block;
	margin: auto;
	margin-bottom:em(15);
	img {
		@include img-center;
	}
	@include mq(medium) {	
		display: none;
	}

}
.sh-logo {
	display:none;
	img {
		@include img-center;
	}
	@include mq(medium) {	
		display: block;
		position: absolute;
		left:0;
		top:-4.85em;
		float:left;
		margin-top: em(32) !important;
	}
}
.sh-ph {
	display:block;
	text-align:center;
	color:$dark-blue;
	font-style:italic;
	//margin-top:$baseline*2;
	font-size:em(21);
	@include mq(medium) {
		float:left;
	}
}
//Site Header 
.sh-icons {
    position: absolute;
    top: 20px;
    right: 20px;
	@include mq(medium) {
		float:right;
	}
}
%sh-ico {
	background-repeat:no-repeat;
	background-position:center top;
	display:inline-block;
	padding-top:1.2em;
	width:2em;
	margin-left:1em;
	
	text-align:center;
	//background-color:red;
	span {
		font-size:.75em;
		color:$black;
	}
	@include mq(medium) {
		//float:right;
	}
}

.sh-ico-search {
	background-image:url(img/ico-search.svg);
	@extend %sh-ico;
	display: none;
}
.sh-ico-menu {
	background-image:url(img/ico-nav.svg);
	@extend %sh-ico;
	@include mq(medium) {
		display:none;
	}
}
.site-nav {

}
.site-utility {
	@include mq(medium) {
		float:right;
		// margin-bottom:1em;
	}
}
.site-search {

}
/*=============== Site Intro Module ===============*/
.site-intro-module {
//background-color:green;
	background-color:rgba(0,0,0,.75);
	.inner-wrap {
		padding-top:$baseline*6;
		padding-bottom:$baseline*6;
	}
	h1 {
		font-size:$xlarge-font-size*1.25;
		margin-bottom:0;
		color:$white;
		text-shadow:none;
		@include mq(medium) {
			font-size:$display-font-size*1.25;
		}
	}
}
.secondary-header {
	@extend h2;
	margin-top:24px;
}
.sim-text {
	text-align:center;
	max-width:em(900);
	margin: 0 auto;
}
.si-subtext {
	margin-top:
}
/*=============== How Fast Module ===============*/
.how-fast-module {
	border-top:1px solid $base-border-color;
}
.hfm-item {
	text-align:center;
	margin-bottom:$baseline*5;
	
	@include margin-fix;
	@include mq(medium) {
		@include span-columns(4 of 12);
		@include omega(3n);
		margin-bottom:0;
	}
	@include mq(large) {
		
	}
}
/*=============== Site Content ===============*/
.site-content-wrap {
	background-color:$white;
	overflow:hidden;
	.inner-wrap{
		padding-top:$baseline*2;
		padding-bottom: $baseline*2;
	}
}
.site-content, .site-content-primary {
	background-color:$white;
}

@include direction-context(right-to-left) {
		.site-content-primary {
			@include mq(large) {
				@include span-columns(9 of 12);
			}
		}
		.site-content-secondary {
			padding:25px 55px 15px 15px;
			background: url(//cdn2.hubspot.net/hub/412620/file-1264271966-jpg/Layout/module-title-bg.jpg) no-repeat scroll left top,url(//cdn2.hubspot.net/hub/412620/file-1262270199-jpg/Layout/module-footer-bg.jpg) no-repeat scroll left bottom,url(//cdn2.hubspot.net/hub/412620/file-1268238855-jpg/Layout/module-main-bg.jpg) repeat-y scroll left center transparent;
			@include mq(large) {
				@include span-columns(3 of 12);
				@include omega;
			}
		}
  }

.aside-title{
	margin-top:0px;
	color: #00266E;
  font-style: italic;
  text-transform: uppercase;
  font-size: em(14);
  line-height: 1.1;
  font-weight: bold;
}

.aside-nav a{
	font-size: 13px;
	font-weight: bold;
	line-height:1;
}

.aside-nav li{
	line-height:1;
	margin-bottom:0.7em;
}

/*=============== Site Footer ===============*/
.site-footer {
	text-align:center;
	background-color: $light-gray;
	p, ul {
		font-size:em(12);
		color:$dark-blue;
	}
	.inner-wrap {
		position:relative;
		overflow:hidden;
		padding: 1.5em;
		&:before {
			content:"";
			display:block;
			position:relative;
			left:0;
			right:0;
			//top:$baseline*3;
			margin-bottom:$baseline*3;
			background-image:url(img/vosb-logo.png);
			background-position:top center;
			background-repeat:no-repeat;
			background-size:em(120);
			height:em(120);
			//width:em(120);
			z-index:0;
		}
	}
	@include mq(large) {
		.inner-wrap {
			&:before {
				position:absolute;
			}
		}
	}
}
.sf-address {
	position:relative;
	z-index:1;
	margin-bottom:$baseline*3;
	@include margin-fix;
	@include mq(large) {
		margin-bottom:0;
		float:left;
		text-align:left;
	}
}
.sf-nav {
	position:relative;
	z-index:1;
	
	@include margin-fix;
	background-image:url(img/accutrex-logo-symbol.png);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:em(50);
	padding-top:em(60);
	li {
		display:inline-block;
		&:before {
			content:" | ";
		}
		&:first-child {
			&:before {
				display:none;
			}
		}
		&:nth-child(6n) {
			&:before {
				display:none;
			}
		}
	}
	@include mq(large) {
		max-width:25em;
		float:right;
		text-align:right;
		background-position:top right

	}
}
//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
    display:none;
}
/*=============== Form Columns ===============*/
.form-columns {

}
.fc-left {
	margin-bottom:$baseline*3;
	@include mq(large) {
		margin-bottom:0;
		@include span-columns(6 of 12);
	}
}
.fc-right {
	@include mq(large) {
		@include span-columns(6 of 12);
	}
}




/*=============== Search ===============*/
.search-table {
  display:table;
  // width:100%;
  float: right;
  padding:0;
}
.search-row {
  display:table-row;
  width:100%;
}
.search-cell1 {
  display:table-cell;
  padding-right:0.4375em;
}
.search-cell2 {
  display:table-cell;
  width:2.1875em;
  border: 0;
  
}
.search-text {
 font-size:.8em;
  width:100%;
  height:2.030769230769231em;
  border:1px solid red;
  float:left;
  padding:0 !important;
  margin-bottom:0px;
  margin-top:7px;
  display: block;
  background-color: $white !important;
  border-radius:3px !important;
  font-size:12px !important;

}
.search-submit {
  width:100%;
  height:2.3em;
  border:0;
  float:right;
  background:url(img/ico-search.svg) no-repeat 0 3px !important;
}

.no-svg {
	.search-submit {
	  background:url(img/ico-search.png) no-repeat center center !important;
	}

}
@include mq(medium) {
	.site-search {
		width:100%;
		
	}
.search-text {
  height:1.846153846153846em;

}
.search-submit {
  height:2.3em;
}
}
@include mq(large) {
.search {

}
.search-text {

}
}

.search-module {
	float:right;
	position:relative;
	z-index:10000;
	display: none;

	@include transition (all .2s ease-in-out);
	&.active {
		margin-top:0;
	}
	.inner-wrap {
		padding: 0;
	}
	@include mq(medium) {
		display:block;
	}
}
.search-form{
	position: absolute;
	right:0;
	width:9em;
}
.search-exit {
	float: right;
	margin-left: 10px;
	margin-bottom: 5px;
	//position:absolute;
	top:0;
	right:0;
	display:none;
}