//Site Nav Container
.site-nav-container {
	background-color:$nav-background-mobile;
	width:17em;
	height:100%;
	right:-17em;
	top:0;
	bottom:0;
	z-index:1000;
	position:absolute;
	z-index:999;
	@include transition(all .25s ease-in-out);
	&.active {
		right:0;
	}
	@include mq(medium) {
		width:100%;
		height:em(38);
		right:auto;
		bottom: auto;
		top:auto;
		position:relative;
		display:block;
		clear:right;
		float:left;
		background-color: transparent;
		background-image: url(img/primary-bg.jpg);
		margin-top:2px;
	}
}
.site-nav-container-screen {
	position:absolute;
	display:none;
	z-index:999;
	left:0;
	right:0;
	bottom:0;
	top:0;
	background-color:rgba(0,0,0,.5);
	&.active {
		display:block;
	}
	@include mq(medium) {
		display:none !important;
	}
}


.close-menu {
	display:inline-block;
	clear:both;
	//width:5em;
	position:relative;
	text-align:center;
	color:$blue !important;
	font-family:$header-font-family;
	padding:$baseline*.5 $baseline*2;
	padding-right:em(25);
	margin: 0 auto;
	font-size:em(14);
	background-color:$white;
	border-radius:em(3);
	&:visited {
		color:$white;
	}
	&:hover {
		color:$white;
	}
	&:after {
		content:'';
		background-color:transparent;
		background-image:url(img/ico-exit.svg);
		background-size:em(13) em(13);
		background-position:center center;
		background-repeat: no-repeat;
		display:block;
		width:em(25);
		top:0;
		bottom:0;
		right:0;
		position:absolute;
	}
	@include mq(medium) {
		display:none;
	}
	
}
.snc-header {
	text-align:center;
	padding:1em;
	@include mq(medium) {
		padding:0;
	}
}
.snc-footer {

}

//Site Nav
.site-nav {	
	// background-color:$nav-background-mobile;
	z-index:9999999999;
	span {
		white-space: nowrap;
	}
	&.active {
		//display:block;
	}
	@include mq(medium) {
		width:auto;
		display:block;
		position:relative;
		top:0;
		left:0;
		padding-left: 10em;
		// background-color:$nav-background;
	}
}
.sn-level-1 {
	margin:0;
	padding:0;
	height:$nav-height;
	float:left;
}
.sn-li-l1 {
	display:block;
	border-bottom:$nav-border-mobile;
	background-color:$nav-background;
	position: relative;
	a.active {
		background-color:$nav-active-background;
	}
	span {
		font-size:$nav-font-size;
		font-weight:bold;
		@include mq(medium){
			font-size:.64em;
		}
		@include mq(large){
			font-size:$nav-font-size;
		}

	}
	&.has-subnav, &.menu-item-has-children {
		> a {
			span {
				padding-right:0em;
				// background-image:url(img/ico-arrowdown.svg);
				background-repeat: no-repeat;
				background-position:right center;
				background-size:em(12);
				display:block;
			}
			&.active {
				span {
					background-image:url(img/ico-arrowup.svg);
				}
			}
		}
	}
	> a {
		display:block;
		height:$nav-height;
		line-height:$nav-height;
		color:$nav-text-color;
		text-decoration:none;
		text-transform: uppercase;
		// padding:0 $nav-spacing-mobile;
		padding:0 10px;
		&:visited {
			color:$nav-text-color;
		}
		&:hover {
			color:$nav-text-color-hover;
		}
	}
	&:hover {
		background-color:$nav-hover; 
	}
	@include mq(medium) {
		height:$nav-height;
		float:left;
		border-bottom:0;
		/*
		&:nth-child(1n) {
			width:20%;
		}
		&:nth-child(2n) {
			width:20%;
		}
		&:nth-child(3n) {
			width:20%;
		}
		&:nth-child(4n) {
			width:20%;
		}
		&:nth-child(5n) {
			width:20%;
		}*/
		&:hover {
			.sn-level-2 {
				display:block;
			}
		}
		&.has-subnav, &.menu-item-has-children {
			> a {
				span {
					// padding-right:1em;
					background-size:em(10);
					display:inline;
				}
				&.active {
					span {
						// background-image:url(img/ico-arrowdown.svg);
					}
				}
			}
		}
		> a {
			padding: 0 $nav-spacing-medium;
		}
	}
	// @include mq(large) {
	// 	> a {
	// 		padding: 0 $nav-spacing-large;
	// 	}	
	// }
	// @include mq(xlarge) {
	// 	> a {
	// 		padding: 0 $nav-spacing-xlarge;
	// 	}	
	// }
}

.sn-level-2 {
	padding:0;
	margin:0;
	display:none;
	position:relative;
	&.active {
		display:block;
	}
	@include mq(medium) {
		position:absolute;
		&.active {
			display:none;
		}
	}
}
.sn-li-l2 {
	background-color:$nav-subnav-background;
	 > a {
		//background-color:red;
		padding:0 $nav-spacing-mobile;
		color:$nav-text-color;
		border-top:$nav-subnav-border;
		display:block;
		text-decoration:none;
		line-height:$nav-subnav-height;
		span {
			font-size:$nav-subnav-font-size;
			line-height:1.25em;
			display:inline-block;
			vertical-align: middle;
		}
		
	}
	
	&:last-child {
		> a {
			border-bottom:0;
		}
	}
	&:hover {
		background-color:$nav-subnav-hover;
		
	}
	@include mq(medium) {
		&:hover {
			 
			.sn-level-3 {
				display:block;
			}
		}
		> a {
			padding:0 $nav-spacing-medium;
		}
	}
	@include mq(large) {
		> a {
			padding:0 $nav-spacing-large;
		}
	}
	@include mq(xlarge) {
		> a {
			padding:0 $nav-spacing-xlarge;
		}	
	}
}
.sn-level-3 {
	//background-color:green;
	padding:0;
	margin:0;
	padding-top:1px;
	
	display:none;
	position:relative;
	border-left:1px solid lighten($nav-hover,10%);
	&.active {
		display:block;
	}
	@include mq(medium) {
		position:absolute;
		top:$nav-height;
		left:100%;
		//width:22.5em;
		&.active {
			display:none;
		}
	}
}
.sn-li-l3 {
	@extend .sn-li-l2;
}