// Inner Wrap
/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/
.inner-wrap {
  @include outer-container;
  > *:first-child {
    margin-top:0;
  }
  > *:last-child {
    margin-bottom:0;
  }
  @include pad($baseline*2 $baseline*2 $baseline*2 $baseline*2);
  @include mq(medium) {
    @include pad($baseline*2 $baseline*3 $baseline*2 $baseline*3);

  }
}

// Media Object
.media-object {
  overflow:hidden;
}
.media-object-img {
  width:20%;
  float:left;
  display:block;
  margin-right:5%;
  img {
    width:100%;
  }
}
.media-object-body {
  width:75%;
  float:left;
  
}
.media-object-header {
  margin-top:0;
  margin-bottom:.15em;
}
.media-grid-2 {
  > * {
  
      
      margin-bottom:$baseline*2;
    }

  @include mq(medium) {
    > * {
  
      @include span-columns(4.5 of 9);
      @include omega(2n);
      margin-bottom:$baseline*3;
    }
  }
}

// Rows with IE8 Support
/*
This class is supposed to be assigned to the parent of items you need organized. Example below:
<div class="rows-of-2">
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
</div>
This would give you 2 rows with 2 columns.
*/
.rows-of-2 {
  @include row();
  > * {
    margin-bottom:$baseline*3;
    display:block;
    position:relative;
    > * {
      &:first-child {
        margin-top:0;
      }
    }
    @include mq(medium) {
      
      @include span-columns(6 of 12);
      @include omega(2n);
      &:nth-last-child(2) {
         &:last-child {
            margin-bottom:0 !important;
         }
      }
      &:nth-last-child(1) {
          &:last-child {
            margin-bottom:0 !important;
         }
      }
    }
  }
}
.lt-ie9 {
  .rows-of-2 {
    @include row();
    > * {
      margin-bottom:$baseline*3;
      display:block;
      position:relative;
      > * {
        &:first-child {
          margin-top:0;
        }
      }
      @include mq(medium) {
        float:left;
        width:50% !important;
        margin-left:0 !important;
        margin-right:0 !important;
        padding-left:$baseline*2;
        padding-right:$baseline*2;
        display:inline-block !important;
        clear:none !important
      }
    }
  }
}

.rows-of-3 {
  @include row();
  > * {
    margin-bottom:$baseline*3;
    display:block;
    position:relative;
    > * {
      &:first-child {
        margin-top:0;
      }
    }
    @include mq(medium) {
      
      @include span-columns(4 of 12);
      @include omega(3n);
       
    }
  }
}
.lt-ie9 {
  .rows-of-3 {
    @include row();
    > * {
      margin-bottom:$baseline*3;
      display:block;
      position:relative;
      > * {
        &:first-child {
          margin-top:0;
        }
      }
      @include mq(medium) {
        
        float:left;
        width:33.3% !important;
        margin-left:0 !important;
        margin-right:0 !important;
        padding-left:$baseline*2;
        padding-right:$baseline*2
         
      }
    }
  }
}
.rows-of-4 {
  @include row();
  > * {
    margin-bottom:$baseline*3;
    display:block;
    position:relative;
    > * {
      &:first-child {
        margin-top:0;
      }
    }
    @include mq(medium) {
      
      @include span-columns(3 of 12);
      @include omega(4n);

      
    }
  }
}
.lt-ie9 {
  .rows-of-4 {
    @include row();
    > * {
      margin-bottom:$baseline*3;
      display:block;
      position:relative;
      > * {
        &:first-child {
          margin-top:0;
        }
      }
      @include mq(medium) {
        
        float:left;
        width:25% !important;
        margin-left:0 !important;
        margin-right:0 !important;
        padding-left:$baseline*2;
        padding-right:$baseline*2;        
      }
    }
  }
}

.mobile-rows-of-2 {
  @include mq(small) {
    @include row();
    > * {
      margin-bottom:$baseline*3;
      display:block;
      position:relative;
      > * {
        &:first-child {
          margin-top:0;
        }
      }
      &:nth-last-child(1) {
        background-color:red;
        margin-bottom:0;
      }
      &:nth-last-child(2) {
        background-color:green;
        margin-bottom:0;
      }
      @include span-columns(2 of 4);
      @include omega(2n);
    }
  }
}
.row {
  @include row();
  clear:both;
}
@include mq(medium) {
  .col-1 {
    @include span-columns(1 of 12);
  }
  .col-2 {
    @include span-columns(2 of 12);
  }
  .col-3 {
    @include span-columns(3 of 12);
  }
  .col-4 {
    @include span-columns(4 of 12);
  }
  .col-5 {
    @include span-columns(5 of 12);
  }
  .col-6 {
    @include span-columns(6 of 12);
  }
  .col-7 {
    @include span-columns(7 of 12);
  }
  .col-8 {
    @include span-columns(8 of 12);
  }
  .col-9 {
    @include span-columns(9 of 12);
  }
  .col-10 {
    @include span-columns(10 of 12);
  }
  .col-11 {
    @include span-columns(11 of 12);
  }
  .col-12 {
    @include span-columns(12 of 12);
  }
  .col-last {
    @include omega;
    margin-right:0 !important;
  }
}