body {
  //@include font-feature-settings("kern","liga","frac", "pnum");
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0;
  font-weight:400;
}

h1 {
  font-size: $xlarge-font-size;
  color:$dark-blue;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow:2px 2px 2px #BBB;
  margin-bottom:.16px;
  span {
    display:block;
    font-size:.75em;
  }
  @include mq(medium) {
    font-size: $display-font-size;
  }
}

h2 {
  font-size: $xlarge-font-size;
  margin-top:32px;
  margin-bottom:24px;
}

h3 {
  font-size: $medium-font-size;
  font-weight:bold;
  margin-top:24px;
  margin-bottom:16px;

}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}
.section-header {
  margin-bottom:$baseline*4;
  h1 {
    text-align:center;
    //@extend h1;
    color:$red;
    margin-top:0;
    padding-bottom:.75em !important;
    span {
      display:block;
      font-size:.75em;
    }
    line-height:1em;
    position:relative;
    padding-bottom:1em;
    
    &:after {
      content:"";
      display:block;
      position:absolute;
      height:1px;
      background-color:darken($base-border-color,25%);
      margin:0 auto;
      left:40%;
      right:40%;
      bottom:0;
      line-height:1px;
      bottom:0;

    }
  }
  .secondary-header {
    font-size:$medium-font-size;
    margin-bottom:0;
    text-align:center;
  }
}

p {
  margin: 16px 0;
  font-weight:400;
  font-size: em(15);
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding:0;
  margin:0;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}
