// Typography
$base-font-family: helvetica, arial sans-serif;
$header-font-family: helvtica, arial, sans-serif;

// Font Sizes
$base-font-size: 1em;
$small-font-size:em(14);
$medium-font-size: em(21);
$large-font-size: em(24);
$xlarge-font-size: em(28);
$display-font-size: em(38);

$h1-font-size: em(42);
$h2-font-size: em(28);
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;



// Line height
$baseline:em(8); //Old habits die hard
$base-line:em(8);
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 0px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$white:#ffffff;
$black:#10102f;
$blue: #477DCA;
$dark-blue:#00266E;
$dark-gray: #333;
$medium-gray: #555555;
$light-gray: #eeeeee;
$red:#9b000c;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $dark-blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: $red;
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-input-color:$light-gray;
$form-box-shadow: 0;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;


// Navigation
$nav-font-size:em(13.5);
$nav-height:em(38);
$nav-background:rgba(0,0,0,.0);
$nav-background-mobile:$blue;
$nav-text-color:$white;
$nav-text-color-hover:$white;
$nav-hover:$dark-blue;
$nav-active-background:darken($nav-background, 10%);
$nav-border-mobile:$dark-blue;
//$nav-display:inline-block; //top level

$nav-spacing-mobile:$baseline;
$nav-spacing-medium:$baseline;
$nav-spacing-large:$baseline*2;
$nav-spacing-xlarge:$baseline*2;



$nav-subnav-font-size:em(14);
$nav-subnav-height:em(50);
$nav-subnav-background:$nav-hover;
$nav-subnav-border:$nav-hover;
$nav-subnav-hover:lighten($nav-subnav-background, 10%);

$nav-mobile-width:17em;