/*!
Theme Name: 	Accutrex Template
Theme URI: 		http://julian.is
Description: 	Default theme for Accutrex.
Version: 		1.0
Author: 		Julian Gaviria
Author URI: 	julian.is
Tags: 			starkers, naked, clean, basic, html5, boilerplate, sass, smacss
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013-2014 thoughtbot, inc.
 * MIT License */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: helvetica, arial sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, .secondary-header, h3, h4, h5, h6 {
  font-family: helvtica, arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  font-weight: 400; }

h1 {
  font-size: 1.75em;
  color: #9b000c;
  margin-bottom: 0.875em; }
  h1 span {
    display: block;
    font-size: 0.75em; }
  @media (min-width: 50em) {
    h1 {
      font-size: 2.375em; } }

h2, .secondary-header {
  font-size: 1.75em;
  margin-top: 32px;
  margin-bottom: 24px; }

h3 {
  font-size: 1.3125em;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 16px; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

.section-header {
  margin-bottom: 2em; }
  .section-header h1 {
    text-align: center;
    color: #9b000c;
    margin-top: 0;
    padding-bottom: 0.75em !important;
    line-height: 1em;
    position: relative;
    padding-bottom: 1em;
    margin-bottom: 0.25em; }
    .section-header h1 span {
      display: block;
      font-size: 0.75em; }
    .section-header h1:after {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      background-color: #aeaeae;
      margin: 0 auto;
      left: 40%;
      right: 40%;
      bottom: 0;
      line-height: 1px;
      bottom: 0; }
  .section-header .secondary-header {
    font-size: 1.3125em;
    margin-bottom: 0;
    text-align: center; }

p {
  margin: 24px 0;
  font-weight: 400; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #00266E;
  text-decoration: none; }
  a:hover {
    color: #9b000c; }
  a:active, a:focus {
    color: #9b000c;
    outline: none; }

hr {
  border-bottom: 1px solid #eeeeee;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img, picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  padding: 0;
  margin: 0; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: white;
  border: 1px solid #eeeeee;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
  max-width: 100% !important; }

input, label, select {
  display: block;
  font-family: helvetica, arial sans-serif;
  font-size: 1em; }

label {
  font-weight: normal;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0px;
  border: 1px solid #eeeeee;
  box-shadow: 0;
  font-family: helvetica, arial sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.75em 0.75em;
  width: 100% !important;
  background-color: #eeeeee;
  max-width: 100% !important; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select:hover {
    border-color: #d4d4d4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select:focus {
    border-color: #00266E;
    box-shadow: 0, 0 0 5px rgba(0, 29, 85, 0.7);
    outline: none; }

select {
  height: 2.8125em; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

.form-title {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 8px;
  margin-bottom: 24px; }

.hs-form h2, .hs-form .secondary-header {
  font-size: 1.3125em;
  font-weight: bold; }

.hs-form-required {
  color: #9b000c; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #c8c8c8;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #eeeeee;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

.site-content-primary ul {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  .site-content-primary ul li {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 1.125em;
    line-height: 1.5em; }
    .site-content-primary ul li p {
      font-size: 18px; }
    .site-content-primary ul li a {
      text-decoration: none;
      font-weight: normal; }
    .site-content-primary ul li:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0;
      left: -1.5em;
      background-image: url(img/ico-bullet.svg);
      background-position: center center;
      background-size: 0.45em;
      background-repeat: no-repeat; }

.bullet-style {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  .bullet-style li {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 1.125em;
    line-height: 1.5em; }
    .bullet-style li p {
      font-size: 18px; }
    .bullet-style li a {
      text-decoration: none;
      font-weight: normal; }
    .bullet-style li:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0;
      left: -1.5em;
      background-image: url(img/ico-bullet.svg);
      background-position: center center;
      background-size: 0.45em;
      background-repeat: no-repeat; }

button, input[type="submit"], .btn, .btn-important {
  -webkit-font-smoothing: antialiased;
  background-color: #00266E;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  transition: background 0.1s linear;
  background-color: #9b000c;
  background-image: -webkit-linear-gradient(#9b000c, #680008);
  background-image: linear-gradient(#9b000c, #680008); }
  button:hover, input[type="submit"]:hover, .btn:hover, .btn-important:hover {
    background-color: #9b000c;
    background-image: -webkit-linear-gradient(#9b000c, #9b000c);
    background-image: linear-gradient(#9b000c, #9b000c);
    color: white; }
  button:disabled, input[type="submit"]:disabled, .btn:disabled, .btn-important:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.site-nav-container {
  background-color: #477DCA;
  width: 17em;
  height: 100%;
  right: -17em;
  top: 0;
  bottom: 0;
  z-index: 1000;
  position: absolute;
  z-index: 99999999;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .site-nav-container.active {
    right: 0; }
  @media (min-width: 50em) {
    .site-nav-container {
      width: 100%;
      height: 2.375em;
      right: auto;
      bottom: auto;
      top: auto;
      position: static;
      display: block;
      clear: right;
      float: left;
      background-color: transparent;
      background-image: url(img/primary-bg.jpg);
      margin-top: 11px; } }

.site-nav-container-screen {
  position: absolute;
  display: none;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .site-nav-container-screen.active {
    display: block; }
  @media (min-width: 50em) {
    .site-nav-container-screen {
      display: none !important; } }

.close-menu {
  display: inline-block;
  clear: both;
  position: relative;
  text-align: center;
  color: #477DCA !important;
  font-family: helvtica, arial, sans-serif;
  padding: 0.25em 1em;
  padding-right: 1.5625em;
  margin: 0 auto;
  font-size: 0.875em;
  background-color: #ffffff;
  border-radius: 0.1875em; }
  .close-menu:visited {
    color: #ffffff; }
  .close-menu:hover {
    color: #ffffff; }
  .close-menu:after {
    content: '';
    background-color: transparent;
    background-image: url(img/ico-exit.svg);
    background-size: 0.8125em 0.8125em;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 1.5625em;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute; }
  @media (min-width: 50em) {
    .close-menu {
      display: none; } }

.snc-header {
  text-align: center;
  padding: 1em; }
  @media (min-width: 50em) {
    .snc-header {
      padding: 0; } }

.site-nav {
  z-index: 9999999999; }
  .site-nav span {
    white-space: nowrap; }
  @media (min-width: 50em) {
    .site-nav {
      width: auto;
      display: block;
      position: relative;
      top: 0;
      left: 0;
      padding-left: 8em; } }

.sn-level-1 {
  margin: 0;
  padding: 0;
  height: 2.375em;
  float: left; }

.sn-li-l1 {
  display: block;
  border-bottom: #00266E;
  background-color: rgba(0, 0, 0, 0);
  position: relative; }
  .sn-li-l1 a.active {
    background-color: rgba(0, 0, 0, 0); }
  .sn-li-l1 span {
    font-size: 0.84375em;
    font-weight: bold; }
    @media (min-width: 50em) {
      .sn-li-l1 span {
        font-size: 0.64em; } }
    @media (min-width: 60em) {
      .sn-li-l1 span {
        font-size: 0.84375em; } }
  .sn-li-l1.has-subnav > a span, .sn-li-l1.menu-item-has-children > a span {
    padding-right: 0em;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 0.75em;
    display: block; }
  .sn-li-l1.has-subnav > a.active span, .sn-li-l1.menu-item-has-children > a.active span {
    background-image: url(img/ico-arrowup.svg); }
  .sn-li-l1 > a {
    display: block;
    height: 2.375em;
    line-height: 2.375em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px; }
    .sn-li-l1 > a:visited {
      color: #ffffff; }
    .sn-li-l1 > a:hover {
      color: #ffffff; }
  .sn-li-l1:hover {
    background-color: #00266E; }
  @media (min-width: 50em) {
    .sn-li-l1 {
      height: 2.375em;
      float: left;
      border-bottom: 0;
      /*
		&:nth-child(1n) {
			width:20%;
		}
		&:nth-child(2n) {
			width:20%;
		}
		&:nth-child(3n) {
			width:20%;
		}
		&:nth-child(4n) {
			width:20%;
		}
		&:nth-child(5n) {
			width:20%;
		}*/ }
      .sn-li-l1:hover .sn-level-2 {
        display: block; }
      .sn-li-l1.has-subnav > a span, .sn-li-l1.menu-item-has-children > a span {
        background-size: 0.625em;
        display: inline; }
      .sn-li-l1 > a {
        padding: 0 0.5em; } }
  @media (min-width: 60em) {
    .sn-li-l1 > a {
      padding: 0 1em; }
 }
  @media (min-width: 80em) {
    .sn-li-l1 > a {
      padding: 0 1em; }
 }

.sn-level-2 {
  padding: 0;
  margin: 0;
  display: none;
  position: relative; }
  .sn-level-2.active {
    display: block; }
  @media (min-width: 50em) {
    .sn-level-2 {
      position: absolute; }
      .sn-level-2.active {
        display: none; } }

.sn-li-l2, .sn-li-l3 {
  background-color: #00266E; }
  .sn-li-l2 > a, .sn-li-l3 > a {
    padding: 0 0.5em;
    color: #ffffff;
    border-top: #00266E;
    display: block;
    text-decoration: none;
    line-height: 3.125em; }
    .sn-li-l2 > a span, .sn-li-l3 > a span {
      font-size: 0.875em;
      line-height: 1.25em;
      display: inline-block;
      vertical-align: middle; }
  .sn-li-l2:last-child > a, .sn-li-l3:last-child > a {
    border-bottom: 0; }
  .sn-li-l2:hover, .sn-li-l3:hover {
    background-color: #0038a1; }
  @media (min-width: 50em) {
    .sn-li-l2:hover .sn-level-3, .sn-li-l3:hover .sn-level-3 {
      display: block; }

    .sn-li-l2 > a, .sn-li-l3 > a {
      padding: 0 0.5em; }
 }
  @media (min-width: 60em) {
    .sn-li-l2 > a, .sn-li-l3 > a {
      padding: 0 1em; }
 }
  @media (min-width: 80em) {
    .sn-li-l2 > a, .sn-li-l3 > a {
      padding: 0 1em; }
 }

.sn-level-3 {
  padding: 0;
  margin: 0;
  padding-top: 1px;
  display: none;
  position: relative;
  border-left: 1px solid #0038a1; }
  .sn-level-3.active {
    display: block; }
  @media (min-width: 50em) {
    .sn-level-3 {
      position: absolute;
      top: 2.375em;
      left: 100%; }
      .sn-level-3.active {
        display: none; } }

/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/
.inner-wrap {
  max-width: 71.875em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 1em 1.5em 1em; }
  .inner-wrap:after {
    content: "";
    display: table;
    clear: both; }
  .inner-wrap > *:first-child {
    margin-top: 0; }
  .inner-wrap > *:last-child {
    margin-bottom: 0; }
  @media (min-width: 50em) {
    .inner-wrap {
      padding: 2.5em 1.5em 2.5em 1.5em; } }

.media-object {
  overflow: hidden; }

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%; }
  .media-object-img img {
    width: 100%; }

.media-object-body {
  width: 75%;
  float: left; }

.media-object-header {
  margin-top: 0;
  margin-bottom: 0.15em; }

.media-grid-2 > * {
  margin-bottom: 1em; }
@media (min-width: 50em) {
  .media-grid-2 > * {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 48.4157821556%;
    margin-bottom: 1.5em; }
    .media-grid-2 > *:last-child {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n) {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n+1) {
      clear: left; }
 }

/*
This class is supposed to be assigned to the parent of items you need organized. Example below:
<div class="rows-of-2">
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
</div>
This would give you 2 rows with 2 columns.
*/
.rows-of-2 {
  display: block; }
  .rows-of-2:after {
    content: "";
    display: table;
    clear: both; }
  .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 50em) {
      .rows-of-2 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%; }
        .rows-of-2 > *:last-child {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n) {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n+1) {
          clear: left; }
        .rows-of-2 > *:nth-last-child(2):last-child {
          margin-bottom: 0 !important; }
        .rows-of-2 > *:nth-last-child(1):last-child {
          margin-bottom: 0 !important; } }

.lt-ie9 .rows-of-2 {
  display: block; }
  .lt-ie9 .rows-of-2:after {
    content: "";
    display: table;
    clear: both; }
  .lt-ie9 .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 50em) {
      .lt-ie9 .rows-of-2 > * {
        float: left;
        width: 50% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em;
        display: inline-block !important;
        clear: none !important; } }

.rows-of-3 {
  display: block; }
  .rows-of-3:after {
    content: "";
    display: table;
    clear: both; }
  .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 50em) {
      .rows-of-3 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .rows-of-3 > *:last-child {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n) {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n+1) {
          clear: left; } }

.lt-ie9 .rows-of-3 {
  display: block; }
  .lt-ie9 .rows-of-3:after {
    content: "";
    display: table;
    clear: both; }
  .lt-ie9 .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 50em) {
      .lt-ie9 .rows-of-3 > * {
        float: left;
        width: 33.3% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

.rows-of-4 {
  display: block; }
  .rows-of-4:after {
    content: "";
    display: table;
    clear: both; }
  .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 50em) {
      .rows-of-4 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 23.2317613015%; }
        .rows-of-4 > *:last-child {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n) {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n+1) {
          clear: left; } }

.lt-ie9 .rows-of-4 {
  display: block; }
  .lt-ie9 .rows-of-4:after {
    content: "";
    display: table;
    clear: both; }
  .lt-ie9 .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 50em) {
      .lt-ie9 .rows-of-4 > * {
        float: left;
        width: 25% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

@media (max-width: 50em) {
  .mobile-rows-of-2 {
    display: block; }
    .mobile-rows-of-2:after {
      content: "";
      display: table;
      clear: both; }
    .mobile-rows-of-2 > * {
      margin-bottom: 1.5em;
      display: block;
      position: relative;
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 46.288514824%; }
      .mobile-rows-of-2 > * > *:first-child {
        margin-top: 0; }
      .mobile-rows-of-2 > *:nth-last-child(1) {
        background-color: red;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:nth-last-child(2) {
        background-color: green;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:last-child {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n) {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n+1) {
        clear: left; } }

.row {
  display: block;
  clear: both; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 50em) {
  .col-1 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 6.1721527019%; }
    .col-1:last-child {
      margin-right: 0; }

  .col-2 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 14.7019570017%; }
    .col-2:last-child {
      margin-right: 0; }

  .col-3 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    .col-3:last-child {
      margin-right: 0; }

  .col-4 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .col-4:last-child {
      margin-right: 0; }

  .col-5 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%; }
    .col-5:last-child {
      margin-right: 0; }

  .col-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .col-6:last-child {
      margin-right: 0; }

  .col-7 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%; }
    .col-7:last-child {
      margin-right: 0; }

  .col-8 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .col-8:last-child {
      margin-right: 0; }

  .col-9 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    .col-9:last-child {
      margin-right: 0; }

  .col-10 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%; }
    .col-10:last-child {
      margin-right: 0; }

  .col-11 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 91.4701957002%; }
    .col-11:last-child {
      margin-right: 0; }

  .col-12 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .col-12:last-child {
      margin-right: 0; }

  .col-last {
    margin-right: 0;
    margin-right: 0 !important; }
 }

body {
  background-image: url(http://cdn2.hubspot.net/hub/412620/file-2509395425-jpg/img/site-intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed; }

.single, .woocommerce {
  background-image: url(img/site-intro-bg-wp.jpg); }

/*=============== Site Header =========456sss546======*/
.site-header {
  background-color: #ffffff; }
  .site-header .inner-wrap {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 2.5em; }

.sh-contact {
  margin: auto;
  float: none;
  padding-top: 0.625em;
  clear: both; }
  @media (min-width: 50em) {
    .sh-contact {
      float: right;
      width: auto;
      padding-top: 0; } }

.sh-social-group {
  width: 8.375em;
  margin: auto;
  display: block; }
  @media (min-width: 50em) {
    .sh-social-group {
      float: left;
      display: inline-block;
      margin-right: 1.25em; } }

.sh-social-ico {
  display: inline-block;
  margin-right: 10px; }

.sh-social-ico:last-child {
  margin-right: 0; }

.sh-secondary-nav {
  margin-bottom: 1.25em;
  text-align: center;
  margin: auto;
  float: right; }
  @media (min-width: 50em) {
    .sh-secondary-nav {
      margin-bottom: 0.625em; } }
  .sh-secondary-nav li {
    float: none;
    display: inline-block;
    border-right: solid 1px #000;
    font-size: 12px;
    padding-right: 10px;
    margin-right: 10px;
    line-height: 1.625em;
    margin-bottom: 0.625em; }
    @media (min-width: 50em) {
      .sh-secondary-nav li {
        line-height: 12px; } }

.sh-secondary-nav li:last-child {
  margin-right: 0px;
  border-right: 0px;
  padding-right: 0px; }

.sh-logo-m {
  display: block;
  margin: auto;
  margin-bottom: 0.9375em; }
  .sh-logo-m img {
    display: block;
    margin: 0 auto; }
  @media (min-width: 50em) {
    .sh-logo-m {
      display: none; } }

.sh-logo {
  display: none; }
  .sh-logo img {
    display: block;
    margin: 0 auto; }
  @media (min-width: 50em) {
    .sh-logo {
      display: block;
      position: absolute;
      left: 0;
      top: 3em;
      float: left;
      margin-top: 2em !important; } }

.sh-ph {
  display: block;
  text-align: center;
  color: #00266E;
  font-style: italic;
  font-size: 1.3125em; }
  @media (min-width: 50em) {
    .sh-ph {
      float: left; } }

.sh-icons {
  position: absolute;
  top: 20px;
  right: 20px; }
  @media (min-width: 50em) {
    .sh-icons {
      float: right; } }

.sh-ico-search, .sh-ico-menu {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center; }
  .sh-ico-search span, .sh-ico-menu span {
    font-size: 0.75em;
    color: #10102f; }

.sh-ico-search {
  background-image: url(img/ico-search.svg);
  display: none; }

.sh-ico-menu {
  background-image: url(img/ico-nav.svg); }
  @media (min-width: 50em) {
    .sh-ico-menu {
      display: none; } }

@media (min-width: 50em) {
  .site-utility {
    float: right; } }

/*=============== Site Intro Module ===============*/
.site-intro-module {
  background-color: rgba(255, 255, 255, 0.4); }
  .site-intro-module .inner-wrap {
    padding-top: 3em;
    padding-bottom: 3em; }
  .site-intro-module h1 {
    font-size: 2.1875em;
    margin-bottom: 0; }
    @media (min-width: 50em) {
      .site-intro-module h1 {
        font-size: 2.96875em; } }

.secondary-header {
  margin-top: 24px; }

.sim-text {
  text-align: center;
  max-width: 56.25em;
  margin: 0 auto; }

.si-subtext { }

/*=============== How Fast Module ===============*/
.how-fast-module {
  border-top: 1px solid #eeeeee; }

.hfm-item {
  text-align: center;
  margin-bottom: 2.5em; }
  .hfm-item > *:first-child {
    margin-top: 0; }
  .hfm-item > *:last-child {
    margin-bottom: 0; }
  @media (min-width: 50em) {
    .hfm-item {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%;
      margin-bottom: 0; }
      .hfm-item:last-child {
        margin-right: 0; }
      .hfm-item:nth-child(3n) {
        margin-right: 0; }
      .hfm-item:nth-child(3n+1) {
        clear: left; } }

/*=============== Site Content ===============*/
.site-content-wrap {
  background-color: #ffffff;
  overflow: hidden; }

.site-content {
  background-color: #ffffff; }

@media (min-width: 60em) {
  .site-content-primary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    .site-content-primary:last-child {
      margin-right: 0; } }

@media (min-width: 60em) {
  .site-content-secondary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
    margin-right: 0; }
    .site-content-secondary:last-child {
      margin-right: 0; } }

/*=============== Site Footer ===============*/
.site-footer {
  text-align: center;
  background-color: #eeeeee; }
  .site-footer p, .site-footer ul {
    font-size: 0.875em; }
  .site-footer .inner-wrap {
    position: relative;
    overflow: hidden; }
    .site-footer .inner-wrap:before {
      content: "";
      display: block;
      position: relative;
      left: 0;
      right: 0;
      margin-bottom: 1.5em;
      background-image: url(img/vosb-logo.png);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 7.5em;
      height: 7.5em;
      z-index: 0; }
  @media (min-width: 60em) {
    .site-footer .inner-wrap:before {
      position: absolute; }
 }

.sf-address {
  position: relative;
  z-index: 1;
  margin-bottom: 1.5em; }
  .sf-address > *:first-child {
    margin-top: 0; }
  .sf-address > *:last-child {
    margin-bottom: 0; }
  @media (min-width: 60em) {
    .sf-address {
      margin-bottom: 0;
      float: left;
      text-align: left; } }

.sf-nav {
  position: relative;
  z-index: 1;
  background-image: url(img/accutrex-logo-symbol.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 3.125em;
  padding-top: 3.75em; }
  .sf-nav > *:first-child {
    margin-top: 0; }
  .sf-nav > *:last-child {
    margin-bottom: 0; }
  .sf-nav li {
    display: inline-block; }
    .sf-nav li:before {
      content: " | "; }
    .sf-nav li:first-child:before {
      display: none; }
    .sf-nav li:nth-child(6n):before {
      display: none; }
  @media (min-width: 60em) {
    .sf-nav {
      max-width: 25em;
      float: right;
      text-align: right;
      background-position: top right; } }

img[name=pphLoggerImage] {
  display: none; }

/*=============== Form Columns ===============*/
.fc-left {
  margin-bottom: 1.5em; }
  @media (min-width: 60em) {
    .fc-left {
      margin-bottom: 0;
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .fc-left:last-child {
        margin-right: 0; } }

@media (min-width: 60em) {
  .fc-right {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .fc-right:last-child {
      margin-right: 0; } }

/*=============== Search ===============*/
.search-table {
  display: table;
  float: right;
  padding: 0; }

.search-row {
  display: table-row;
  width: 100%; }

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em; }

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  border: 0; }

.search-text {
  font-size: 0.8em;
  width: 100%;
  height: 2.0307692308em;
  border: 1px solid red;
  float: left;
  padding-left: 0.5em;
  margin-bottom: 0px;
  margin-top: 7px;
  display: block;
  background-color: #ffffff !important;
  border-radius: 3px !important;
  font-size: 12px !important; }

.search-submit {
  width: 100%;
  height: 2.3em;
  border: 0;
  float: right;
  background: url(img/ico-search.svg) no-repeat 0 3px !important; }

.no-svg .search-submit {
  background: url(img/ico-search.png) no-repeat center center !important; }

@media (min-width: 50em) {
  .site-search {
    width: 100%; }

  .search-text {
    height: 1.8461538462em; }

  .search-submit {
    height: 2.3em; }
 }

.search-module {
  float: right;
  position: relative;
  z-index: 10000;
  display: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .search-module.active {
    margin-top: 0; }
  .search-module .inner-wrap {
    padding: 0; }
  @media (min-width: 50em) {
    .search-module {
      display: block; } }

.search-form {
  position: absolute;
  right: 0;
  width: 9em; }

.search-exit {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
  top: 0;
  right: 0;
  display: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.alignright {
  display: block;
  padding-bottom: 1.5em; }

.alignleft {
  display: block;
  padding-bottom: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

@media (min-width: 50em) {
  .alignright {
    display: block;
    float: right;
    padding-bottom: 1.5em;
    padding-left: 1.5em; }

  .alignleft {
    display: block;
    float: left;
    padding-bottom: 1.5em;
    padding-right: 1.5em; }

  .aligncenter {
    display: block;
    margin: 0 auto; }
 }

.text-alignright {
  text-align: right; }

.text-alignleft {
  text-align: left; }

.text-aligncenter {
  text-align: center; }

.clearboth {
  clear: both;
  display: block; }

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none; }

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons
@font-face {
  font-family: 'flexslider-icon';
  src:url('fonts/flexslider-icon.eot');
  src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('fonts/flexslider-icon.woff') format('woff'),
    url('fonts/flexslider-icon.ttf') format('truetype'),
    url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
 */
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0;
  background: transparent;
  border: 0;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 125em;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 57%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-prev {
  left: 10px; }

.flexslider:hover .flex-next {
  right: 10px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-direction-nav a:before {
  display: block;
  content: '';
  height: 2.5em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-image: url(img/ico-arrow-left-slider.svg); }

/*{ font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block; content: '\f001'; }*/
.flex-direction-nav a.flex-next:before {
  background-image: url(http://cdn2.hubspot.net/hub/317022/file-2252170943-svg/img/ico-arrow-right-slider.svg); }

/*{ content: '\f002'; }*/
/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: 0.7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/*
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
*/
.flex-direction-nav .flex-prev {
  opacity: 0.3;
  left: 10px; }

.flex-direction-nav .flex-next {
  opacity: 0.3;
  right: 10px; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after, .mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/*! Tablesaw - v1.0.2 - 2014-12-17
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2014 Filament Group; Licensed MIT */
table.tablesaw {
  empty-cells: show;
  max-width: 100%;
  width: 100%; }

.tablesaw {
  border-collapse: collapse;
  width: 100%; }

/* Structure */
.tablesaw {
  border: 0;
  padding: 0; }

.tablesaw th, .tablesaw td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 0.7em; }

.tablesaw thead tr:first-child th {
  padding-top: 0.9em;
  padding-bottom: 0.7em; }

/* Table rows have a gray bottom stroke by default */
.tablesaw-stack tbody tr {
  border-bottom: 1px solid #dfdfdf; }

.tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
  display: none; }

/* Mobile first styles: Begin with the stacked presentation at narrow widths */
@media only all {
  /* Show the table cells as a block level element */
  .tablesaw-stack td, .tablesaw-stack th {
    text-align: left;
    display: block; }

  .tablesaw-stack tr {
    clear: both;
    display: table-row; }

  /* Make the label elements a percentage width */
  .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    display: block;
    padding: 0 0.6em 0 0;
    width: 30%;
    display: inline-block; }

  /* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */
  .tablesaw-stack th .tablesaw-cell-label-top, .tablesaw-stack td .tablesaw-cell-label-top {
    display: block;
    padding: 0.4em 0;
    margin: 0.4em 0; }

  .tablesaw-cell-label {
    display: block; }

  /* Avoid double strokes when stacked */
  .tablesaw-stack tbody th.group {
    margin-top: -1px; }

  /* Avoid double strokes when stacked */
  .tablesaw-stack th.group b.tablesaw-cell-label {
    display: none !important; }
 }

@media (max-width: 39.9375em) {
  .tablesaw-stack thead td, .tablesaw-stack thead th {
    display: none; }

  .tablesaw-stack tbody td, .tablesaw-stack tbody th {
    clear: left;
    float: left;
    width: 100%; }

  .tablesaw-cell-label {
    vertical-align: top; }

  .tablesaw-cell-content {
    max-width: 67%;
    display: inline-block; }

  .tablesaw-stack td:empty, .tablesaw-stack th:empty {
    display: none; }
 }

/* Media query to show as a standard table at 560px (35em x 16px) or wider */
@media (min-width: 40em) {
  .tablesaw-stack tr {
    display: table-row; }

  /* Show the table header rows */
  .tablesaw-stack td, .tablesaw-stack th, .tablesaw-stack thead td, .tablesaw-stack thead th {
    display: table-cell;
    margin: 0; }

  /* Hide the labels in each cell */
  .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    display: none !important; }
 }
