<span style='color: #000' title='Frames'>   189</span><span style='color: #009' title='Memory'>  22784.00 KB</span><span style='color: #900' title='Time'>    439.10 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />